.activity-log-constraint {
    width: 100%;
    height: 100%;
}

.activity-log-navbar {
    width: 20%;
    height: 100%;
    position: fixed;
}

.activity-log-content {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    padding: 50px 50px;
}
.activity-log-pagination{
    display:inline-block;
    float:right;
    margin:20px 0px;
}
.activity-log-filterbar{
    margin-bottom:20px;
    display:flex;
    vertical-align: middle;
}
h1{
    font-weight:bold;
}
.filter-text{
  margin:auto 0px;
}