.title-row .ant-row{
    padding-top: 20px; 
    padding-left: 20px;
}

.blue-bg {
    background: #07476b;
}

.bg-height {
    height: 120px;
}

.picture-container {
    position: absolute; 
    text-align: center;
}

.picture {
    border-radius: '50%';
    width: 150px;
    height: 150px;
}

.top-space {
    margin-top: 20px;
}