.card-container {
  padding: 20px;
  background-image: linear-gradient(to bottom right, #8c0618, #d11154);
  width: 500px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container h1.ant-typography, h2.ant-typography {
  margin-bottom: 0px;
}

.image-logo {
  width: 70px;
  height: 60px;
}

.valid {
  color: "grey";
  font-family: "serif";
  font-size: 12;
}

.title .ant-typography {
  color: white;
  font-family: monospace;
}

.ant-typography.validLabel {
  font-family: serif;
  font-size: 10;
}
