.content-table-tl{
    padding: 24px;
    font-weight: bold;
}
.tl-title{
    font-size: large;
}
.transaction-log-constraint {
    width: 100%;
    height: 100%;
}

.transaction-log-navbar {
    width: 20%;
    height: 100%;
    position: fixed;
}

.transaction-log-content {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}
